<section layout="row" layout-align="center center" layout-wrap>
	<md-button class="md-raised md-primary md-hue-2" ui-sref="login">Login</md-button>
	<md-button class="md-raised md-accent md-hue-3"  ui-sref="register">Register</md-button>
</section>

<md-icon md-svg-icon="{{ul.selected.avatar}}" class="avatar"></md-icon>
<h2>{{ul.selected.name}}</h2>
<p>{{ul.selected.content}}</p>
<md-button class="contact" md-no-ink ng-click="ul.showContactOptions($event)" aria-label="Contact User">
    <md-tooltip>Contact {{ ul.selected.name }}</md-tooltip>
    <md-icon md-svg-icon="share"></md-icon>
</md-button>
