<div id="register-div" ng-controller="RegisterController as registerCtrl" layout="column" layout-align="start center">

    <h1>Register</h1>

    <form ng-submit="registerCtrl.tryRegister($event)" layout="column" layout-align="start center">

        <md-input-container>
            <label>First Name</label>
            <input id="register-fname" ng-model="registerCtrl.creds.fname" name="fname" type="text" required style="font-size: 1.2em;" />
        </md-input-container>
        <md-input-container>
            <label>Last Name</label>
            <input id="register-lname" ng-model="registerCtrl.creds.lname" name="lname" type="text" required style="font-size: 1.2em;" />
        </md-input-container>
        <md-input-container>
            <label>Username</label>
            <input id="register-username" ng-model="registerCtrl.creds.username" name="username" type="text" required style="font-size: 1.2em;" />
        </md-input-container>
        <md-input-container>
            <label>Email</label>
            <input id="register-email" ng-model="registerCtrl.creds.email" name="email" type="email" required style="font-size: 1.2em;" />
        </md-input-container>
        <md-input-container>
            <label>Password</label>
            <input id="register-password" ng-model="registerCtrl.creds.password" name="password" type="password" required style="font-size: 1.2em;" />
        </md-input-container>
        <md-input-container>
            <label>Password Confirm</label>
            <input id="register-confirm" ng-model="registerCtrl.creds.confirm" name="password" type="password" required style="font-size: 1.2em;" />
        </md-input-container>

        <md-button class="md-raised md-primary md-hue-2" ng-click="registerCtrl.tryRegister($event)">
            Register
        </md-button>

        <input type="submit" tabindex="-1" hide/>

    </form>

</div>
<div style="height: 500px"></div>

