<!DOCTYPE html>
<html lang="en">

<head>
    <title>Pomodoro Todo App</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="./bower_components/angular-material/angular-material.css" />
    <link rel="stylesheet" href="assets/app.css" />
</head>

<body ng-app="pomodoroTodoApp" ng-controller="MenuController as menuCtrl" layout="column" layout-fill>

    <md-toolbar layout="row" class="md-whiteframe-z2 md-primary md-hue-2">
        <md-button ng-show="menuCtrl.showLogout" class="menu" hide-gt-lg ng-click="menuCtrl.toggleMenu()" aria-label="Show User List">
            <md-icon md-svg-icon="menu"></md-icon>
        </md-button>
        <h1>Pomodoro Todo App</h1>
    </md-toolbar>


    <div flex layout="row">

        <md-sidenav ng-show="menuCtrl.showLogout" class="site-sidenav md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-lg')" layout="column" flex>
            <md-toolbar class="md-whiteframe-z1">
                <h1>Menu</h1>
            </md-toolbar>
            <md-list>
              <md-list-item ng-click="menuCtrl.newTodo();" layout="row" layout-align="start center">
                <ng-md-icon icon="my_library_add" style="fill: green"></ng-md-icon>
                      New Todo
              </md-list-item>

              <md-divider></md-divider>

              <md-list-item ng-click="menuCtrl.logout();" layout="row" layout-align="start center">
                <ng-md-icon icon="logout"></ng-md-icon>
                      Logout
              </md-list-item>
            </md-list>
        </md-sidenav>

        <md-content flex class="md-padding main-content" md-scroll-y>
            <div ui-view>
                <!-- Content is loaded from partials templates -->
            </div>
        </md-content>

    </div>

    <!-- angular sources -->
    <script src="./bower_components/angular/angular.js"></script>
    <script src="./bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="./bower_components/angular-animate/angular-animate.js"></script>
    <script src="./bower_components/angular-aria/angular-aria.js"></script>
    <script src="./bower_components/angular-material/angular-material.js"></script>
    <script src="./bower_components/angular-material-icons/angular-material-icons.min.js"></script>
    <script src="./bower_components/angular-touch/angular-touch.js"></script>
    <script src="./bower_components/hammerjs/hammer.min.js"></script>
    <script src="./bower_components/ryanmullins-angular-hammer/angular.hammer.min.js"></script>

    <!-- vendor sources -->
    <script src="./src/vendor/sklad.js"></script>

    <!-- app sources -->
    <script src="./src/js/app.js"></script>
    <script src="./src/js/routes.js"></script>
    <script src="./src/js/indexdb.js"></script>
    <script src="./src/js/clickbuster.js"></script>

    <script src="./src/auth/service/auth_manager.js"></script>
    <script src="./src/auth/controllers/login.js"></script>
    <script src="./src/auth/controllers/register.js"></script>

    <script src="./src/js/controllers/menu.js"></script>

    <script src="./src/todos/services/todo-service.js"></script>
    <script src="./src/todos/controllers/todo-list.js"></script>
    <script src="./src/todos/directives/todo-item/todo-item.js"></script>

</body>

</html>
